{% comment %}
This template is used in the speakers pages to display single talks of a speaker in speaker.html
{% endcomment %}

{% load subtitle_progress %}
<a href="/talk/{{talk.pk}}" class="thumbnail">
	<h3>{{talk.title}}</h3>
	<dl class="dl-horizontal">
        <dt>Event</dt>
        <dd>{{talk.event.acronym}}</dd>
        <dt>Date</dt>
        <dd>{{talk.date}}</dd>
        <dt>Language</dt>
		<dd>{{talk.orig_language.display_name}}</dd>
		<dt>Video-Duration</dt>
		<dd>{{talk.video_duration|time:"H:i:s"}}</dd>
        {% if talk.has_statistics %}
    </dl>
    <dl class="dl-horizontal">
        <dt>Statistics</dt>
        <dd></dd>
        <dt>Average whole talk</dt>
        <dd>{{talk.average_wpm | floatformat:-1}}&nbsp;<abbr title="words per minute">wpm</abbr></dd>
        <dt></dt>
        <dd>{{talk.average_spm | floatformat:-1}}&nbsp;<abbr title="strokes per minute">spm</abbr><dd>
        {% if talk.has_speakers_statistics %}
        <dt>Average while speakers speak</dt>
        <dd>{{talk.speakers_average_wpm | floatformat:-1}}&nbsp;<abbr title="words per minute">wpm</abbr></dd>
        <dt></dt>
        <dd>{{talk.speakers_average_spm | floatformat:-1}}&nbsp;<abbr title="strokes per minute">spm</abbr><dd>
        {% endif %}
        {% endif %}
    </dl>
    <dl class="dl-horizontal">
        <dt>Speaker</dt>
        <dd></dd>        
		{% for any in talk.talk_persons_set.all %}
            <dt>{{any.speaker.name}}</dt>
            {% if any.has_statistics %}
                <dd>{{any.average_wpm | floatformat:-1}}&nbsp;<abbr title="words per minute">wpm</abbr></dd>
                <dt></dt>
                <dd>{{any.average_spm | floatformat:-1}}&nbsp;<abbr title="strokes per minute">spm</abbr></dd>
            {% else %}
                <dd></dd>
            {% endif %}
		{% endfor %}
	</dl>
	{% if talk.subtitle_set.count > 0 %}
        <table style="width: 100%;">
            {% for subtitle in talk.subtitle_set.all %}
                <tr>
                    <th>{{ subtitle.language_short }}:</th>
                    <td>{{ subtitle|progress_bar:True }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Last revision: {{ subtitle.last_changed_on_amara|timesince }} ago</td>
                </tr>
            {% endfor %}
        </table>
	{% else %}
		<p>No subtitles yet in the language of the presentation.<br />Start working on them!</p>
    {% endif %}
</a>
{% comment %}
<ul>
	<li><a href="/talk/{{talk.pk}}">{{talk.title}}</a></li>
	<li>Talk-Language: {{talk.orig_language.display_name}}</li>
	<li>Track: {{talk.track}}</li>
	<li>Type of: {{talk.type_of}}</li>
	<li>Room: {{talk.room}}</li>
	<li>Day: {{talk.day.index}}</li>
	<li>Start: {{talk.start |time:"H:i"}}</li>
</ul>
{% endcomment %}