{% extends "base.html" %}
{% load word_cloud %}

{% block title %}C3Subtitles{% endblock %}

{% block content %}

<h1>{{speaker.name}}</h1>
{% if speaker.abstract != None %}
<h3>{{speaker.abstract}}</h3>
{% endif %}
<h2>Infos</h2>
<div class="row" style="padding-bottom: 20px;">
    <div class="col-md-4">

            <dl  class="dl-horizontal">
                <dt>Event(s):</dt>
                <dd>{{speakers_events}}</dd>
                <dt>Language(s):</dt>
                <dd>{{speakers_languages}}</dd>
            </dl>
	</div>

    <div class="col-md-4">
        <dl  class="dl-horizontal">
            <dt>Track(s):</dt>
            <dd>{{speakers_tracks}}</dd>
            {% if speaker.has_links %}
                <dt>Links:</dt>
                {% for link in speaker.speaker_links_set.all %}
                    <dd><a href="{{link.url}}">{{link.title}}</a></dd>
                {% endfor %}
            {% endif %}
        </dl>
    </div>
    <div class="col-md-4">
        <p>{{speaker.description}}</p>

    </div>
</div>
<h2>Statistics</h2>
{% if speaker.has_statistics %}
    {% for statistics in speaker_statistics %}
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-3">
                <dl class="dl-horizontal">
                    <dt>{{statistics.language.display_name}}</dt>
                    <dd>{{statistics.average_wpm | floatformat:-1}}&nbsp;<abbr title="words per minute">wpm</abbr></dd>
                    <dd>{{statistics.average_spm | floatformat:-1}}&nbsp;<abbr title="strokes per minute">spm</abbr></dd>
                </dl>
            </div>
            <div class="col-md-9">
                {% common_words_cloud item=statistics %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <p> Nothing yet? :(<br \>Create more subtitles!</p>
{% endif %}

{% include "progress_bar_original.html" with value=speaker %}

{% for talks_line in talks_chunk %}
    <div class="row">
        {% for single_talk in talks_line %}
            <div class="col-md-4">
                {% include "speaker_talk_small.html" with talk=single_talk %}
            </div>
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}
