{% extends "base.html" %}

{% block title %}C3Subtitles{% endblock %}

{% block content %}
    <h1> <a href="/event/{{my_event.acronym}}">{{my_event.title}}</a> </h1>
	
	{% include "www/progress_bar_original.html" with value=my_event %}       
  
    <div class="btn-group">
        {% for day in my_event.event_days_set.all %}
             <a href= "/event/{{my_event.acronym}}/day/{{day.index}}"><button type="button" class="btn btn-default">{{day.index}} </button></a>
        {% endfor %}
    </div>
    <div class="btn-group">
        {% for lang in my_langs %}
            <a href= "/event/{{my_event.acronym}}/day/0/lang/{{lang.lang_amara_short}}"><button type="button" class="btn btn-default">{{lang.language_en}}</button></a>
        {% endfor %}
    </div>

    <style>
      td div.progress { margin-bottom: 0px; }
    </style>

	{% for talks_line in talks_chunk %}
		<div class="row">
			{% for every_talk in talks_line %}
				<div class="col-md-4">
					{% include "www/talk_small.html" with talk=every_talk %}
				</div>
			{% endfor %}
		</div>
	{% endfor %}	
{% endblock %}
