{% extends "base.html" %}

{% block content %}
<div class="jumbotron" >
	<h1>C3Subtitles</h1>
	<div class="row">
		<div class="col-md-4">
			<p>How do I use this page?</p>
			<p><a class="btn btn-primary btn-lg" href="https://c3subtitles.de/wiki/de:postprocessing:contribute" role="button" target="_blank">Wiki de »</a>  
			<a class="btn btn-primary btn-lg" href="https://c3subtitles.de/wiki/en:postprocessing:contribute" role="button" target="_blank">Wiki en »</a></p>
			<p>Also check the wiki for the subtitles style guide!</p>
			<p><a class="btn btn-primary btn-lg" href="https://c3subtitles.de/wiki/de:styleguide" role="button" target="_blank">Styling de »</a>  
			<a class="btn btn-primary btn-lg" href="https://c3subtitles.de/wiki/en:styleguide" role="button" target="_blank">Styling en »</a></p>
		</div>
		<div class="col-md-4">
			<p>Where do I find the finished subtitles?</p>
			<p><a class="btn btn-primary btn-lg" href="http://cdn.media.ccc.de/congress/" role="button" target="_blank">CCC cdn »</a></p>
			<p>Choose an event and check for the "subtitles" subfolder in the video folders!</p>
		</div>
		<div class="col-md-4">
			<p>Twitter</p>
			<p><a class="btn btn-primary btn-lg" href="https://www.twitter.com/c3subtitles" role="button" target="_blank">@c3subtitles »</a></p>
			<p>Newest infos on twitter or visit us in <a href="https://webirc.hackint.org/#subtitles" target="_blank">#subtitles on hackint.org</a></p>
				<p>Latest releases:</p>
				<p><a class="btn btn-primary btn-lg" href="https://www.twitter.com/c3srt_releases" role="button" target="_blank">@c3srt_releases »</a></p>
		</div>
	</div>
</div>

<div>
    
{% for event in events %}
	{% if event.pk != 3 %}
	<h2>
		<a href="/event/{{event.acronym}}">
			{{ event.title }}
		</a>
		
		<a data-toggle="collapse" href="#{{ event.pk }}_id" aria-expanded="false" aria-controls="collapseExample"><span style="font-size: 20px; vertical-align: center" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
	</h2>
	<div class="collapse" id="{{ event.pk }}_id">
		<h2>{{ event.start }} - {{ event.end }}</h2>
		<h2>{{ event.building }}, {{ event.city }}</h2>
		{% if event.has_statistics %}
		    <div id="event_statistics" style="padding-bottom: 20px;">
				<h3>Statistics:</h3>

				{% for every_statistics_line in event.statistics_chunk %}
                    {% for every_statistics in every_statistics_line %}
                        <div class="Table">
                            <div class="TableRow">
                                <div id="TableLabel" class="TableCell">{{ every_statistics.language.language_en }}:</div>
                                <div class="TableCell">
                                    {{every_statistics.average_wpm | floatformat:-1}} <abbr title="words per minute">wpm</abbr><br>
                                    {{every_statistics.average_spm | floatformat:-1}} <abbr title="strokes per minute">spm</abbr>
                                </div>
                            </div>
                        </div>
                    
                    {% endfor %}
                {% endfor %}
            </div>
		{% endif %}
			
		
	</div>
	<div>
	{% include "www/progress_bar_original.html" with value=event %}
	</div>
	{% endif %}
{% endfor %}
	
</div>
{% endblock %}
