{% extends "base.html" %}

{% block content %}
<div class="jumbotron" >
	<h1>This is subtitle</h1>
	<p>DO SOMETHING</p>
	<p><a class="btn btn-primary btn-lg" href="http://subtitles.media.ccc.de/wiki/" role="button">Wiki »</a></p>
</div>

<div>
    
{% for event in events %}
	{% if event.pk != 3 %}
	<h2>
		<a href="/event/{{event.acronym}}">
			{{ event.title }}
		</a>
		
		<a data-toggle="collapse" href="#{{ event.pk }}_id" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
		
		<div class="collapse" id="{{ event.pk }}_id">
			<p>{{ event.start }} - {{ event.end }}</p>
		</div>
	</h2>
	<div class="progress"> 
		<div class="progress-bar progress-bar-success" style="width: {{ event.bar_checked }}%">
			<span class="sr-only">{{ event.bar_checked }}% Checking done</span>{{ event.bar_checked }}%
		</div>
		<div class="progress-bar progress-bar-warning progress-bar-striped" style="width: {{ event.bar_synced }}%">
			<span class="sr-only">{{ event.bar_synced }}% Syncing done</span>{{ event.bar_synced }}%
		</div>
		<div class="progress-bar progress-bar-danger" style="width: {{ event.bar_transcribed }}%">
        	<span class="sr-only">{{ event.bar_transcribed }}% Transcribing done</span>{{ event.bar_transcribed }}%
        </div>
		<div class="progress-bar progress-bar-grey progress-bar-striped" style="width: {{ event.bar_nothing }}%">
            <span class="sr-only">{{ event.bar_nothing }}% Nothing done yet</span>{{ event.bar_nothing }}%
		</div>
		
	</div>
	{% endif %}
{% endfor %}
<script type="text/javascript" >
$('#pb').css({
	'background-image': 'none',
	'background-color': 'grey'
});
</script>

	
</div>
{% endblock %}
