{% extends "base.html" %}

{% block title %}C3Subtitles{% endblock %}

{% block content %}
<div>
	<ul>
		<li>{{talk.title}}</li>
		<li>Talk-Language: {{talk.orig_language}}</li>
		<li>Track: {{talk.track}}</li>
		<li>Type of: {{talk.type_of}}</li>
		<li>Room: {{talk.room}}</li>
		<li>Video Duration: {{talk.video_duration | date:"H:i:s"}}</li>
	</ul>

<div class="form">
    {% for sub in subtitles %}
        {{ sub.language }}
        <div>
        {% if sub.form.as_p %}
        <form action="/subtitle/{{sub.pk}}/" method="POST">
            {{ sub.form.as_p }}
            {%if sub.form.quick_btn %}
            <input type="submit" name="quick_finish_btn" value="{{sub.form.quick_btn}}">
            {% endif %}
            {% csrf_token %}
            <input type="submit" value="Save">
        </form>
        {% else %}
            {# it's just a info message not a real form #}
            {{ sub.form }}
        {% endif %}
        </div>
    {% endfor %}

</div>

</div>
{% endblock %}
