{% extends "base.html" %}
{% load bootstrap %}
{% load word_cloud %}
{% load subtitle_progress %}

{% block title %}C3Subtitles{% endblock %}

{% block content %}

<a href="/event/{{talk.event.acronym}}" class="btn btn-default">back</a>
<h1>{{talk.title}}</h1>
<h2>
{% if not talk.subtitle_talk == "None" %}
   {{talk.subtitle_talk}}
{% endif %}
</h2>

<p class="alert alert-danger">
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="margin-right: 5px;"></span>
    If you suspend your transcription on amara.org, please add a timestamp below to indicate how far you progressed! This will help others to resume your work!
</p>

<p class="alert alert-danger">
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="margin-right: 5px;"></span>
    Please do not press “publish” on amara.org to save your progress, use “save draft” instead. Only press “publish” when you're done with quality control.
</p>
{% if talk.needs_automatic_syncing %}
    <p class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="margin-right: 5px;"></span>
        Please stop working on the video now so subtitle timings can be computed automatically.
        Do not try to manually sync the subtitles until autotiming has completed. This might take a while, please check back later.
    </p>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <div role="tabpanel">
                <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                       <!--li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li-->
                       <li role="presentation" class="active"><a href="#video_data" aria-controls="profile" role="tab" data-toggle="tab">Video Data</a></li>
                        <li role="presentation"><a href="#Description" aria-controls="settings" role="tab" data-toggle="tab">Description</a></li>
                        <li role="presentation"><a href="#Misc" aria-controls="Description" role="tab" data-toggle="tab">Misc</a></li>
                        {% if talk.has_statistics %}
                            <li role="presentation"><a href="#Statistics" aria-controls="Statistics" role="tab" data-toggle="tab">Statistics</a></li>
                        {% endif %}
                        {% if talk.has_links %}
                            <li role="presentation"><a href="#Links" aria-controls="Links" role="tab" data-toggle="tab">Links</a></li>
                        {% endif %}
                    </ul>

                <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Tab panel Video Data -->
                        <div role="tabpanel" class="tab-pane active" id="video_data">
                            <dl class="dl-horizontal">
                                <dt>Video duration</dt>
                                {% if talk.amara_key != "" %}
                                    <dd>{{talk.video_duration | date:"H:i:s"}}</dd>
                                {% else %}
                                    <dd>Not yet available</dd>
                                {% endif %}
                                <dt>Language</dt>
                                <dd>{{talk.orig_language.display_name}}</dd>
                                <dt>Abstract</dt>
                                {% if talk.abstract != "None" %}
                                   <dd>{{talk.abstract|linebreaksbr}}</dd>
                                {% else %}
                                   <dd> - </dd>
                                {% endif %}
                            </dl>
                        </div> <!-- End Tab panel Video Data -->
                        
                        <!-- Tab panel Description -->
                        <div role="tabpanel" class="tab-pane" id="Description">
                            {% if talk.description != "None" %}
                                <p>{{talk.description|linebreaksbr}}</p>
                            {% else %}
                                <p>No description available.</p>
                            {% endif%}
                        </div> <!-- End Tab panel Description -->
                        
                        <!-- Tab panel Misc -->
                        <div role="tabpanel" class="tab-pane" id="Misc">
                            <dl class="dl-horizontal">
                                <dt>Talk ID</dt>
                                <dd>{{talk.frab_id_talk}}</dd>
                                <dt>Event:</dt>
                                <dd>{{talk.event.acronym}}</dd>
                                <dt>Day</dt>
                                <dd>{{talk.day.index}}</dd>
                                <dt>Room</dt>
                                <dd>{{talk.room}}</dd>
                                <dt>Start</dt>
                                <dd>{{talk.start}}</dd>
                                <dt>Duration</dt>
                                <dd>{{talk.duration | date:"H:i:s"}}</dd>
                                <dt>Track</dt>
                                <dd>{{talk.track}}</dd>
                                <dt>Type of</dt>
                                <dd>{{talk.type_of}}</dd>
                                <dt>Speaker</dt>
                                {% for speaker in talk.persons.all %}
                                <dd><a href="/speaker/{{speaker.id}}">{{speaker.name}}</a></dd>
                                {% endfor %}
                            </dl>
                        </div> <!-- End Tab panel Misc -->
                        
                        <!-- Tab panel Statistics -->
                        {% if talk.has_statistics %}
                            <div role="tabpanel" class="tab-pane" id="Statistics">
                                <h3>Talk &amp; Speaker speed statistics</h3>
                                <div class="Table">
                                    <div class="TableRow">
                                        <div id="TableLabel" class="TableCell">Very rough underestimation:</div>
                                        <div class="TableCell">
                                        {{talk.average_wpm | floatformat:-1}}&nbsp;<abbr title="words per minute">wpm</abbr><br>
                                        {{talk.average_spm | floatformat:-1}}&nbsp;<abbr title="strokes per minute">spm</abbr>
                                        </div>
                                    </div>

                                {% if talk.has_speakers_statistics and talk.persons.count > 1 %}
                                    <div class="TableRow">
                                        <div id="TableLabel" class="TableCell">While speaker(s) speak(s):</div>
                                        <div class="TableCell">
                                            {{talk.speakers_average_wpm | floatformat:-1}}&nbsp;<abbr title="words per minute">wpm</abbr><br />
                                            {{talk.speakers_average_spm | floatformat:-1}}&nbsp;<abbr title="strokes per minute">spm</abbr>
                                        </div>
                                    </div>
                                {% endif %}
                                {% for any in talk_speakers_statistics %}
                                    {% if any.has_statistics %}
                                        <div class="TableRow">
                                            <div id="TableLabel" class="TableCell"><a href="/speaker/{{any.speaker.id}}">{{any.speaker.name}}:</a></div>
                                            <div class="TableCell">{{any.average_wpm | floatformat:-1}}&nbsp;<abbr title="words per minute">wpm</abbr><br />{{any.average_spm | floatformat:-1}}&nbsp;<abbr title="strokes per minute">spm</abbr>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                </div> <!-- End table -->
                            </div> <!-- End Tab panel Statistics -->
                        {% endif %}
                        
                        <!-- Tab panel Links -->
                        {% if talk.has_links %}
                        <div role="tabpanel" class="tab-pane" id="Links">
                            <dl class="dl-horizontal">
                                {% for link in talk.links_set.all %}
                                    <dt></dt>
                                    <dd><a href="{{link.url}}">{{link.title}}</a></dd>
                                {% endfor %}
                            </dl>
                        </div><!-- End Tab panel Links -->
                        {% endif %}
                    </div> <!-- End Tab panes -->                     
                </div> <!-- End tab panel -->
            </div> <!-- End additional div -->
        

            {% for sub in subtitles %}
            <div class="container" >
                <div class="row">
                   <div class="col-md-1">
                    {% comment %}
                      Spaghetti-Code because works!
                    {% endcomment %}
                        <a href="https://amara.org/videos/{{ talk.amara_key }}/" target="_blank" >
                        {% if sub.complete%}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" aria-label="Work on {{talk.orig_language.display_name}} on Amara"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" aria-label="Work on {{talk.orig_language.display_name}} on Amara"></span>
                        {% endif %}
                        <span style="margin-left: 5px;">{{ sub.language.display_name }}</span>
                        </a>
                    </div><!-- End col-md-1 -->
                    <div class="col-md-4">
                        {{ sub|progress_bar }}
                    </div>
                    <div class="col-md-4">
                    {% if sub.complete and not sub.blacklisted %}
                        <a href="https://mirror.selfnet.de/c3subtitles/{{sub.talk.event.subfolder_in_sync_folder}}/{{sub.talk.filename}}.{{sub.language.lang_short_srt}}.srt" target="_blank" >
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true" aria-label="Download Subtitles"></span>
                        </a>
                    {% endif %}
                    </div><!-- End col-md-4 -->
                </div>
            </div>
            {% endfor %}
        </div> <!-- End col-md-6 -->

        <div class="col-md-6">
            {% if talk.amara_key != "" %}
                <div class="amara-embed" data-height="300px" data-width="540px" data-url="{% if talk.link_to_video_file != "" %}{{talk.link_to_video_file}}{% else %}https://www.youtube.com//watch?v={{talk.youtube_key}}{% endif %}">
                </div>
            {% endif %}
            <div>
                {% if talk.amara_key != "" %}
                    <h4><a href="https://amara.org/videos/{{ talk.amara_key }}/" target="_blank"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Work on this video on Amara!</a></h4>
                {% else %}
                    <h4>The video is not yet available</h4>
                {% endif %}
            </div>
        </div> <!-- End col-md-6 -->
    </div><!-- End class container -->
</div><!-- End class row -->

<div>
    {% if show_etherpad and talk.link_to_writable_pad != "" and talk.has_original_subtitle_in_transcript_state  %}
        <div class="alert alert-info" role="alert">
            <strong>This talk has a pad for the transcript, please use this instead of the amara editor:</strong> <a href="{{ talk.link_to_writable_pad }}" target="_blank">Etherpad</a>
        </div>
    {% endif %}

    <div>
    {% if subtitles.count == 0 %}
    <div class="alert alert-info" role="alert"><strong>Missing form or progress bar?</strong> It may take up to ten minutes until the form appears, after you saved your progress on amara. Please give it a little patience and reload the page.</div>
    

    {% endif %}
    {% for sub in subtitles %}
        {% if sub.blocked %}
        <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>  <strong>{{ sub.language.display_name }}:</strong> Not available right now. Probably autosync in progress, please come back later!</div>
        {% elif sub.form.visible_fields != NULL %}
        <form class="form" id="form_{{ sub.pk }}" action="/subtitle/{{sub.pk}}/" method="POST">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <p>{{ sub.language.display_name }}: {{ sub.state }}</p>
            </div>
            <div class="panel-body">
            {{ sub.form|bootstrap }}
            {% csrf_token %}
            <input class="btn btn-success"  type="submit" value="Save">
                    <span style="margin-left: 1em;">Last revision: 
                    {% if sub.last_changed_on_amara.date != datetime_min.date %}
                        {{ sub.last_changed_on_amara|timesince }} ago
                    {% else %}
                        unknown
                    {% endif %}
                    </span>
            {%if sub.form.quick_btn %}
            <input class="btn btn-default btn-save" type="button" data-toggle="modal" data-target="#accept_{{ sub.pk }}"  value="{{sub.form.quick_btn}}">
            {% endif %}
            </div>
        </div>
        </form>
        {% else %}
        <div class="alert alert-success" role="alert">
            <p>{{ sub.language.display_name }}: Finished</p>
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
<script type="text/javascript" src='https://amara.org/embedder-iframe'>
</script>


{% for sub in subtitles %}
<div class="modal fade" id="accept_{{ sub.pk }}">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Please check:</h4>
            </div>
            <div class="modal-body">
                <p>Is this step really finished?</p>
                {% if sub.transcription_in_progress or talk.needs_automatic_syncing %}
                    <p class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="margin-right: 5px;"></span>
                        Please stop working on the video now so subtitle timings can be computed automatically.
                        Do not try to manually sync the subtitles until autotiming has completed. This might take a while, please check back later.
                    </p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Back</button>
                <input name="quick_finish_btn" type="submit" value="Accept" class="btn btn-success" form="form_{{ sub.pk }}"/>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endfor %}

{% if talk.has_statistics %}
<h2>Talk &amp; Speaker speed statistics with word clouds</h2>
<div class="row" style="padding-bottom: 20px;">
    <div class="col-md-3">
        <dl class="dl-horizontal">
            <dt>Whole talk:</dt>
            <dd>{{talk.average_wpm | floatformat:-1}}&nbsp;<abbr title="words per minute">wpm</abbr></dd>
            <dd>{{talk.average_spm | floatformat:-1}}&nbsp;<abbr title="strokes per minute">spm</abbr></dd>
        </dl>
    </div>
    <div class="col-md-9">
      {% common_words_cloud item=talk height="18em" %}
    </div>
</div>
{% endif %}

{% if talk.has_speakers_statistics and talk.persons.count > 1 %}
<div class="row" style="padding-bottom: 20px;">
    <div class="col-md-3">
        <dl class="dl-horizontal">
            <dt>While speakers speak:</dt>
            <dd>{{talk.speakers_average_wpm | floatformat:-1}}&nbsp;<abbr title="words per minute">wpm</abbr></dd>
            <dd>{{talk.speakers_average_spm | floatformat:-1}}&nbsp;<abbr title="strokes per minute">spm</abbr></dd>
        </dl>
    </div>
    <div class="col-md-9">
      {% common_words_cloud item=talk height="18em" property="n_common_words_speakers" id="speakers" %}
    </div>
</div>
{% endif %}

{% for talk_person in talk.talk_persons_set.all %}
    {% if talk_person.has_statistics %}
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-3">
                <dl class="dl-horizontal">
                    <dt><a href="/speaker/{{talk_person.speaker.id}}">{{talk_person.speaker.name}}:</a></dt>
                    <dd>{{talk_person.average_wpm | floatformat:-1}}&nbsp;<abbr title="words per minute">wpm</abbr></dd>
                    <dd>{{talk_person.average_spm | floatformat:-1}}&nbsp;<abbr title="strokes per minute">spm</abbr></dd>
                </dl>
            </div>
            <div class="col-md-9">
              {% common_words_cloud item=talk_person height="18em" %}
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}
