# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
/static/*.pdf
www/static/*.txt
www/static/fahrplan_files/
www/static/word_frequencies/
subtitleStatus/settings.py

# Sphinx documentation
docs/_build/


# Django
virtualEnv/
subtitleStatus/settings.py
subtitleStatus/local_settings.py

# Downloadsfolder
downloads/*.sbv
downloads/*.srt
downloads/*

# Personal folders
andi-temp/*
barbara-temp/

# Credentials files
credentials.py


# Stuff
temp.py
test.py
subtitles.dot
subtitles.png

#PyCharm
.idea/

# Data Dumps
django_data_dumps/
data_dump.py

# Sync Folder
subtitles_sync_folder
subtitles_sync_folder/*
subtitleStatus/subtitleStauts.cfg
.secret

# Google Auth Stuff
ytc-oauth2.json
client_secrets.json

# temporaries
*~
flycheck_*.py
