li {
	font-size: 18px !important;
}
#main {
    font-family: 'Abel', sans-serif !important;
}
.btn-save {
	float: right;
}
.amara-embed {
	display: block;
	margin-bottom: 10px;
}
.progress-bar-grey {
      background-color: grey !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px !important;
}
a.thumbnail:hover{
	text-decoration: none !important;
}
.thumbnail:hover > h3{
	text-decoration: underline;
}

#Statistics .dl-horizontal dt:empty {
  display:none
}
#Statistics .dl-horizontal dd {
  float: left;
  margin-left: 0;
}
#Statistics .dl-horizontal::after {
  clear:both;
  content: " ";
  display: block
}
