li {
	font-size: 18px !important;
}

#main {
    font-family: 'Abel', sans-serif !important;
}

.btn-save {
	float: right;
}

.amara-embed {
	display: block;
}

.progress-bar-grey {
      background-color: grey !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px !important;
}

#Statistics .Table {
		    	display: table;
		    	width: 100%;
		    	margin-top: 0;
				margin-bottom: 20px;
}
#Statistics .TableRow {
    	display: table-row;
}
#Statistics .TableCell{
    	display: table-cell;
    	padding: 3px 10px;
/*    	border: 1px solid #999999;*/
}
#Statistics .TableBody {
    	display: table-row-group;
}

#TableLabel {
    text-align: right;
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.42857143;
    width: 170px;

}

.tab-content div {
    padding-top: 10px;
}